{% extends 'registration/base.html' %}
{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      <h2>Please Login</h2>

        <form method="post" action="{% url 'registration:user_login' %}">
          {% csrf_token %}
          {# A more "HTML" way of creating the login form#}
          <label for="username">Username:</label>
          <input type="text" name="username" placeholder="Username">
          <br><br>
          <label for="password">Password:</label>
          <input type="password" name="password">
          <br><br>
          <input type="submit" name="" value="Login">

        </form>

    </div>
  </div>
{% endblock %}
