
<!DOCTYPE html>
{% extends 'registration/base.html'%}
{% load staticfiles %}


{% block body_block %}
<div class="container">



    {% if registered %}
      <h1>Thank you for registering!</h1>
    {% else %}
      <h2>Register Here!</h2>
      <form method="post" enctype="multipart/form-data">
        <div class="form-group">
        {%csrf_token%}
        {{user_form.as_p}}
        {{profile_form.as_p}}
        <input type="submit" name="" value="Register!">
        </div>
      </form>

    {% endif %}

  {% endblock %}
</div>
